{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/acmeguestbook/css/bootstrap.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/acmeguestbook/css/post.css') }}" rel="stylesheet" />
{% endblock %}

{% block title %}My cool guestbook{% endblock %}

{% block body %}

    {% block javascripts %}
        <script src="{{ asset('bundles/acmeguestbook/js/jquery-1.10.2.js') }}"></script>
        <script src="{{ asset('bundles/acmeguestbook/js/bootstrap.js') }}"></script>
        <script src="{{ asset('bundles/acmeguestbook/js/main.js') }}"></script>
    {% endblock %}

    <div id="content_header" class="content_header">
        <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ path('acme_guest_book_homepage')}}">Гостевая книга</a>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="{{ path('acme_guest_book_homepage')}}">Главня</a></li>
                    <li><a href="#">Мои сообщения</a></li>
                </ul>
            </div>
        </nav>
    </div>

    <div id="content_main">
        <div>
            <div><label>Все сообщения</label></div>
            <div id="allPost" class="postBox">
                {% for post_data in post if post_data.username %}
                <div class="panel panel-default">
                    <div class="panel-heading post_head">
                        <span class="post_user_name">{{ post_data.username }}</span>
                        <span class="post_user_email">({{ post_data.email }})</span>
                        <a href="{{ path('acme_guest_book_del', {'id': post_data.id}) }}">
                            <span class="glyphicon glyphicon-remove post_delete"></span>
                        </a>
                        <span class="post_date">{{ post_data.datecreate|date('Y-m-d H:i:s') }}</span>
                    </div>
                    <div class="panel-body post_body">
                        {{ post_data.message }}
                    </div>
                </div>
                {% else %}
                    <div><center>Нет записей</center></div>
                {% endfor %}
            </div>
            <div class="postForm">
                <label>Добавить сообщение</label>
                <div class="postFormBox">
                    {{ form_start(form) }}
                    {{ form_errors(form) }}
                    <div class="postFormFields">
                        <div class="input-group">
                            {{ form_label(form.username, 'Логин') }}
                            {{ form_errors(form.username) }}
                            {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="input-group">
                            {{ form_label(form.email, 'E-mail') }}
                            {{ form_errors(form.email) }}
                            {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="input-group">
                            <span style="margin-right: 10px;">{{ form_label(form.randmessage, 'Случайное сообщение') }}
                            {{ form_errors(form.randmessage) }}
                            {{ form_widget(form.randmessage, {'attr': {'onclick': 'setRandomMessage(this)'}}) }}
                        </div>
                        <div>
                            {{ form_label(form.message, 'Сообщение') }}
                            {{ form_errors(form.message) }}
                            {{ form_widget(form.message, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="postFormButtons">
                        {#<button class="btn btn-primary pull-right" onclick="clearPost()">Очистить</button>#}
                        {#{{ form_widget(form.addPost, {'attr': {'class': 'form-btn btn-primary pull-right', 'value': 'Отправить'}}) }}#}
                        <button id="sendMessage" type="submit" class="btn btn-primary pull-right" style="margin-right: 10px;"/>Отправить</button>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

    <div id="content_footer">
    </div>
{% endblock %}